Testing/Connected Services/ProductionASMX/textportsms1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.textport.com/WebServices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.textport.com/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.textport.com/WebServices/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAuthentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAuthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyAuthenticationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messagesList" type="tns:TextPortSMSMessages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TextPortSMSMessages">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfTextPortSMSMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTextPortSMSMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TextPortSMSMessage" nillable="true" type="tns:TextPortSMSMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TextPortSMSMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessagesResult" type="tns:TextPortSMSResponses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TextPortSMSResponses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Responses" type="tns:ArrayOfTextPortSMSResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTextPortSMSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TextPortSMSResponse" nillable="true" type="tns:TextPortSMSResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TextPortSMSResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessingMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCreditBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCreditBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyAuthenticationSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyAuthentication" />
  </wsdl:message>
  <wsdl:message name="VerifyAuthenticationSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessages" />
  </wsdl:message>
  <wsdl:message name="SendMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditBalance" />
  </wsdl:message>
  <wsdl:message name="GetCreditBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSClientSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAuthentication">
      <wsdl:input message="tns:VerifyAuthenticationSoapIn" />
      <wsdl:output message="tns:VerifyAuthenticationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <wsdl:input message="tns:SendMessagesSoapIn" />
      <wsdl:output message="tns:SendMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditBalance">
      <wsdl:input message="tns:GetCreditBalanceSoapIn" />
      <wsdl:output message="tns:GetCreditBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSClientSoap" type="tns:SMSClientSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.textport.com/WebServices/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAuthentication">
      <soap:operation soapAction="http://www.textport.com/WebServices/VerifyAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <soap:operation soapAction="http://www.textport.com/WebServices/SendMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditBalance">
      <soap:operation soapAction="http://www.textport.com/WebServices/GetCreditBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSClientSoap12" type="tns:SMSClientSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://www.textport.com/WebServices/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAuthentication">
      <soap12:operation soapAction="http://www.textport.com/WebServices/VerifyAuthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <soap12:operation soapAction="http://www.textport.com/WebServices/SendMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditBalance">
      <soap12:operation soapAction="http://www.textport.com/WebServices/GetCreditBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSClient">
    <wsdl:port name="SMSClientSoap" binding="tns:SMSClientSoap">
      <soap:address location="https://textport.com/webservices/textportsms.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSClientSoap12" binding="tns:SMSClientSoap12">
      <soap12:address location="https://textport.com/webservices/textportsms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>