Testing/Connected Services/ProductionSVC/TextPortSMS32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TextPort.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TextPort.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TextPortSMSMessages">
    <xs:sequence>
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfTextPortSMSMessage" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextPortSMSMessages" nillable="true" type="tns:TextPortSMSMessages" />
  <xs:complexType name="ArrayOfTextPortSMSMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextPortSMSMessage" nillable="true" type="tns:TextPortSMSMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTextPortSMSMessage" nillable="true" type="tns:ArrayOfTextPortSMSMessage" />
  <xs:complexType name="TextPortSMSMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextPortSMSMessage" nillable="true" type="tns:TextPortSMSMessage" />
  <xs:complexType name="TextPortSMSResponses">
    <xs:sequence>
      <xs:element minOccurs="0" name="Responses" nillable="true" type="tns:ArrayOfTextPortSMSResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextPortSMSResponses" nillable="true" type="tns:TextPortSMSResponses" />
  <xs:complexType name="ArrayOfTextPortSMSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextPortSMSResponse" nillable="true" type="tns:TextPortSMSResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTextPortSMSResponse" nillable="true" type="tns:ArrayOfTextPortSMSResponse" />
  <xs:complexType name="TextPortSMSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" type="xs:int" />
      <xs:element minOccurs="0" name="MessageID" type="xs:int" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessingMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextPortSMSResponse" nillable="true" type="tns:TextPortSMSResponse" />
</xs:schema>