Testing/Connected Services/ProductionSVC/TextPortSMS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TextPortSMS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://textport.com/WebServices/TextPortSMS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://textport.com/WebServices/TextPortSMS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://textport.com/WebServices/TextPortSMS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextPort.WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITextPortSMS_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="ITextPortSMS_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="ITextPortSMS_VerifyAuthentication_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAuthentication" />
  </wsdl:message>
  <wsdl:message name="ITextPortSMS_VerifyAuthentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="ITextPortSMS_GetCreditBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditBalance" />
  </wsdl:message>
  <wsdl:message name="ITextPortSMS_GetCreditBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="ITextPortSMS_SendMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessages" />
  </wsdl:message>
  <wsdl:message name="ITextPortSMS_SendMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="ITextPortSMS">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextPortSMS/Ping" message="tns:ITextPortSMS_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextPortSMS/PingResponse" message="tns:ITextPortSMS_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAuthentication">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextPortSMS/VerifyAuthentication" message="tns:ITextPortSMS_VerifyAuthentication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextPortSMS/VerifyAuthenticationResponse" message="tns:ITextPortSMS_VerifyAuthentication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextPortSMS/GetCreditBalance" message="tns:ITextPortSMS_GetCreditBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextPortSMS/GetCreditBalanceResponse" message="tns:ITextPortSMS_GetCreditBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextPortSMS/SendMessages" message="tns:ITextPortSMS_SendMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextPortSMS/SendMessagesResponse" message="tns:ITextPortSMS_SendMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITextPortSMS" type="tns:ITextPortSMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/ITextPortSMS/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAuthentication">
      <soap:operation soapAction="http://tempuri.org/ITextPortSMS/VerifyAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditBalance">
      <soap:operation soapAction="http://tempuri.org/ITextPortSMS/GetCreditBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <soap:operation soapAction="http://tempuri.org/ITextPortSMS/SendMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextPortSMS">
    <wsdl:port name="BasicHttpBinding_ITextPortSMS" binding="tns:BasicHttpBinding_ITextPortSMS">
      <soap:address location="http://textport.com/WebServices/TextPortSMS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>